<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SeguimientoSuper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SeguimientoSuper.Properties.Settings>
            <setting name="server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>5432</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value>monfoll</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>monfoll</value>
            </setting>
            <setting name="database" serializeAs="String">
                <value>monfoll</value>
            </setting>
            <setting name="empresa" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="fecha_inicio" serializeAs="String">
                <value>2013-01-01</value>
            </setting>
            <setting name="fecha_fin" serializeAs="String">
                <value>2014-04-18</value>
            </setting>
            <setting name="fecha_doco" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="con_saldo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="facturas" serializeAs="String">
                <value>2101,2103,10</value>
            </setting>
            <setting name="abonos" serializeAs="String">
                <value>10,1000,1001,1002,1003</value>
            </setting>
        </SeguimientoSuper.Properties.Settings>
    </userSettings>
</configuration>